#bingoh1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow' !important; 
  margin-bottom: 2%;
}

.bingoh2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow' !important; 
  margin-top: 2%;
  color:#3147ee;
}

.bingo2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow' !important; 
  color:#F24A72;
  margin-top: 2%;
}
